-metadata.json
-coverage/

## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
tags

## Gemfile
Gemfile.lock

## Bundler
.bundle/
.vendor/
vendor/bundle/

## Puppet Module Tool
pkg/
